/* Define standard variables and values for website */
/* Use the variables */
body {
  background-color: lightblue;
  color: darkblue;
  font-size: 18px;
}

.btn-custom {
  background-color: blue;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: lowercase;
  text-overflow: hidden;
}

.enlarge {
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}
.enlarge:hover {
  font-size: 36px;
}
