/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

table {
    /*border :dashed*/
}

    table.spacebefaft > tbody > tr > td {
        padding: 0 1em 0
    }

    table.spacebefaft > tbody > tr > th {
        padding: 0 1em 0
    }

.well {
    padding: 0.5em
}

.col {
    /*padding :7px;*/
    margin: 7px
}

.label {
    font-size: 100%;
}

.centegrid0 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.centegrid0 > div {
    border: thin solid blue
}

.perso1 {
    color:royalblue;
    background-color:antiquewhite


}

.buttonlikelink {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    padding: 0px;
}
}

.centegrid1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}
.box1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.panel_infovalidation {
    background-color: azure;
}

/* bouton du site */
.btn-sitpho {
    background-color: lightblue;
    border-color: lightskyblue;
}

.btn-sitpho:hover {
    background-color: lightskyblue;
    border-color: lightskyblue;
}

/* .btn-info:active:hover,*/
/*.btn-info.focus*/
/*.btn-info:hover*/

/* permet le mode row-wrap en remplissant en mode ligne (mode principal) (et en égalisant la hauteur du mode secondaire (vertical) en  uniformisant la hauteur des licolonnes d'un même ligne*/
.aligned-row {
    display: flex;
    flex-flow: row wrap;
}

/* permet de centrer les elements verticalement*/
.display-flex-center {
    display: flex;
    align-items: center;
}