<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="WebApplication4.SiteMaster" %>

<!DOCTYPE html>

<html lang="fr">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - Mon ASP.NET Application</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
    <form runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server"
            OnAsyncPostBackError="ScriptManager1_AsyncPostBackError"
            OnResolveScriptReference="ScriptManager1_ResolveScriptReference"
            OnDataBinding="ScriptManager1_DataBinding"
            EnablePartialRendering="true">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" runat="server" href="~/">Nom de l'application</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Activer/désactiver la navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/About">À propos de</a></li>
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> - Mon ASP.NET Application</p>

                <asp:UpdatePanel runat="server">
                    <ContentTemplate>
                        <asp:Panel  CssClass="cookie_consent" runat="server" ID="panel1">
                            <asp:TextBox Text="TEXTE BANNER" runat="server"/>
                            <asp:Button runat="server" Text="click" ID="button1" OnClick="button1_Click"></asp:Button>
                        </asp:Panel>
                    </ContentTemplate>
                    <Triggers>
                        <asp:AsyncPostBackTrigger ControlID="button1" />
                    </Triggers>

                </asp:UpdatePanel>
            </footer>
        </div>





    </form>



    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bootstrap-3.4.1-dist/js/bootstrap.js") %>
    </asp:PlaceHolder>


    <%-- SCRIPTS  --%>
    <asp:ContentPlaceHolder ID="cphScript" runat="server">
        <script type="text/javascript">
            // Creare's 'Implied Consent' EU Cookie Law Banner v:2.4
            // Conceived by Robert Kent, James Bavington & Tom Foyster

            var dropCookie = true;                      // false disables the Cookie, allowing you to style the banner
            var cookieDuration = 14;                    // Number of days before the cookie expires, and the banner reappears
            var cookieName = 'complianceCookie';        // Name of our cookie
            var cookieValue = 'on';                     // Value of cookie

            function createDiv() {
                var bodytag = document.getElementsByTagName('body')[0];
                var div = document.createElement('div');
                div.setAttribute('id', 'cookie-law');
                div.innerHTML = '<p>Our website uses cookies. By continuing we assume your permission to deploy cookies, as detailed in our <a href="/privacy-cookies-policy/" rel="nofollow" title="Privacy &amp; Cookies Policy">privacy and cookies policy</a>. <a class="close-cookie-banner" href="javascript:void(0);" onclick="removeMe();"><span>X</span></a></p>';
                // Be advised the Close Banner 'X' link requires jQuery

                // bodytag.appendChild(div); // Adds the Cookie Law Banner just before the closing </body> tag
                // or
                bodytag.insertBefore(div, bodytag.firstChild); // Adds the Cookie Law Banner just after the opening <body> tag

                document.getElementsByTagName('body')[0].className += ' cookiebanner'; //Adds a class tothe <body> tag when the banner is visible

                createCookie(window.cookieName, window.cookieValue, window.cookieDuration); // Create the cookie
            }


            function createCookie(name, value, days) {
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    var expires = "; expires=" + date.toGMTString();
                }
                else var expires = "";
                if (window.dropCookie) {
                    document.cookie = name + "=" + value + expires + "; path=/";
                }
            }

            function checkCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }

            function eraseCookie(name) {
                createCookie(name, "", -1);
            }

            window.onload = function () {
                if (checkCookie(window.cookieName) != window.cookieValue) {
                    createDiv();
                }
            }

            function removeMe() {
                var element = document.getElementById('cookie-law');
                element.parentNode.removeChild(element);
            }
        </script>
    </asp:ContentPlaceHolder>





</body>
</html>
